.default__background {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;

    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);

    &.dark {
        box-shadow: 0 0 0 10px #303030;
    }
    &.light {
        box-shadow: 0 0 0 10px #d1d1d1;
    }
}

.main__background {
    &.dark {
        background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.863)),
        url('/images/background/background_main.png');
    }
    &.light {
        background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.103), rgba(0, 0, 0, 0.445)),
        url('/images/background/background_main.png');
    }
    background-repeat: no-repeat;
    background-size: cover;
}

.copyright__background {
    &.dark {
        background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.700), rgba(0, 0, 0, 0.700)),
            url('/images/background/background_1.png');
        
    }
    &.light {
        background-image:
            linear-gradient(to bottom, rgba(255, 255, 255, 0.500), rgba(255, 255, 255, 0.500)),
            url('/images/background/background_1.png');
    }
    background-repeat: no-repeat;
    background-size: cover;
}

.can-ki-art__background {
    &.dark {
        background-image:
                linear-gradient(to bottom, rgba(0, 0, 0, 0.700), rgba(0, 0, 0, 0.700)),
                url('/images/background/background_2.jpg');

    }
    &.light {
        background-image:
                linear-gradient(to bottom, rgba(255, 255, 255, 0.500), rgba(255, 255, 255, 0.500)),
                url('/images/background/background_2.jpg');
    }
    background-repeat: no-repeat;
    background-size: cover;
}

.what-is-art__background {
    &.dark {
        background-image:
                linear-gradient(to bottom, rgba(0, 0, 0, 0.700), rgba(0, 0, 0, 0.700)),
                url('/images/background/background_3.jpg');

    }
    &.light {
        background-image:
                linear-gradient(to bottom, rgba(255, 255, 255, 0.500), rgba(255, 255, 255, 0.500)),
                url('/images/background/background_3.jpg');
    }
    background-repeat: no-repeat;
    background-size: cover;
}