.content__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 20px;
}

.content__block {
    padding: 0 20px 0 20px;
}

.content__block:hover {
    cursor: pointer;
    &.dark {
        background-color: #171717;
    }
    &.light {
        background-color: #c7c7c7;
    }
}

.content__heading {
    font-size: 40px;
}

.content__link {
    text-decoration: none;
}

.content__list {
    list-style-type: none;
    margin-top: 7px;
    margin-bottom: 10px;
}

.content__subheading {
    margin-top: 12px;
}

.content__text {
    font-family: sans-serif;
    margin: 0 5px 0 5px;
    &.dark {
        color: var(--text-color-dark-primary);
        &.active {
            color: white;
        }
    }
    &.light {
        color: var(--text-color-light-primary);
        &.active {
            color: rgb(0, 0, 0);
        }
    }
}

.content__marginBottom {
    margin-bottom: 25px;
}

.content__textWrapper {
    padding: 0 15px 0 15px;
    border-left: 1px #989898 solid;
}

@media only screen and (max-width: 940px) {
    .content__wrapper {
        grid-template-columns: 1fr;
    }
}