body, html {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100vh;
}

.main__background {
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.37), rgb(0, 0, 0)),
        url('/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.heading__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 500px;
    width: 70%;
}

.default__heading {
    color: white;
    font-family: sans-serif;
    font-size: 60px;
    word-break: normal;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
    margin-bottom: 50px;
}

.content__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 20px;
}

.content__block {
    padding: 0 20px 0 20px;
}

.content__block:hover {
    cursor: pointer;
    &.dark {
        background-color: #171717;
    }
    &.light {
        background-color: #c7c7c7;
    }
}

.content__link {
    text-decoration: none;
}

.content__text {
    font-family: sans-serif;
    &.dark {
        color: #989898;
    }
    &.light {
        color: #272727;
    }
}

.content__textWrapper {
    margin-bottom: 25px;
    padding: 0 15px 0 15px;
    border-left: 1px #989898 solid;
}

.default__text {
    font-family: sans-serif;
    &.dark {
        background: linear-gradient(#EEEEEEFF, #9f9f9f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &.light {
        background: linear-gradient(rgb(80, 80, 80), #1a1a1a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.default__border {
    backface-visibility: visible;
    border-radius: 10px;
    border: 1px solid #323232;
    &.dark {
        background-color: #000000;
    }
    &.light {
        background-color: #f5f5f5;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2c2c2c;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2c2c2c;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.main__mode-switch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    margin-top: 10px;
}

.icon {
    font-size: 20px;
    margin: 0 7px 0 7px;
    color: rgb(204, 204, 204);
}

@media only screen and (max-width: 600px) {
    .content__wrapper {
        grid-template-columns: 1fr;
    }

    .main__background {
        height: 100%;
    }

    .heading__container {
        margin-left: 10px;
        height: 400px;
    }
}
