 <ul class="navbar__list">
    <li>
        <a id="impressum" class="navbar__logo navbar__default-link-text content__text mode dark" href="../index.html">
            <img class="navbar__logo__img" src="../images/logo.png" alt="website logo" width="25" height="25">
            <div class="navbar__logo__text">KI in der Kunst</div>
        </a>
    </li>
    <li>
        <a id="was-ist-kunst" class="navbar__link navbar__default-link-text content__text mode dark" href="../pages/was-ist-kunst.html">
            <i class="fa-solid fa-brush"></i>
            <div class="navbar__link__text">Was ist Kunst?</div>
        </a>
    </li>
    <li>
        <a id="kann-ki-kunst" class="navbar__link navbar__default-link-text content__text mode dark" href="../pages/kann-ki-kunst.html">
            <i class="fa-solid fa-robot"></i>
            <div class="navbar__link__text">Kunst durch KI</div>
        </a>
    </li>
    <li>
        <a id="urheberrechte" class="navbar__link navbar__default-link-text content__text mode dark" href="../pages/urheberrechte.html">
            <i class="fa-solid fa-copyright"></i>
            <div class="navbar__link__text">Urheberrechte</div>
        </a>
    </li>
    <li>
        <div class="navbar__mode-switch">
            <i class="fa-regular fa-sun icon mode dark"></i>
            <label class="switch">
                <input id="switch__input" type="checkbox" onclick="toggleMode()">
                <span class="slider round"></span>
            </label>
            <i class="fa-regular fa-moon icon mode dark"></i>
        </div>
    </li>
</ul>
